services:
  - type: web
    name: fullstack-backend
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    envVars:
      - key: SERVER_PORT
        value: 8081
      - key: SPRING_DATASOURCE_URL
        value: jdbc:h2:mem:cardb
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: create-drop
