:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
}

ul, ol {
  line-height: 2;
}

li {
  margin-bottom: 0.5rem;
}







